<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
       http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
       http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">


    <!-- 【*】导入其他 xml 配置 -->
    <!--<import resource="classpath:auto/xml/subApplicationContext.xml"/>-->

    <!-- mybatis 配置文件 -->
    <import resource="classpath:auto/xml/mybatisContext.xml"/>

    <!-- 【*】混合导入 JavaConfig 配置类中的配置 -->
    <!-- <bean id="javaConf" class="org.demo.javaconf.config.JavaConf"/> -->
    <!--<bean id="javaConf" class="org.demo.auto.javaconf.cache.EhCacheConf"/>-->
    <bean id="javaConf" class="org.demo.auto.javaconf.cache.RedisCacheConf"/>
    <bean  class="org.demo.auto.javaconf.rpc.RpcServiceConf"/>

    <!-- 自定义的 Redis 缓存配置文件 -->
    <!--<import resource="classpath:auto/xml/redisContext.xml"/>-->
    <!--<context:component-scan base-package="org.demo.auto.common.redis" />-->


    <!-- 【*】指定接受 Spring 管理的 Bean 路径 -->
    <context:component-scan base-package="org.demo.auto.common.entity" />
    <context:component-scan base-package="org.demo.auto.common.dao" />
    <context:component-scan base-package="org.demo.auto.xml.aspect" />
    <!--<context:component-scan base-package="org.demo.auto.javaconf.cache" />-->


    <!-- 【*】启用注解驱动缓存  JacaConf 可在类头加 @EnableCaching-->
    <!-- <cache:annotation-driven key-generator="org.demo.auto.javaconf.cache.CustomKeyGenerator"/> -->
    <cache:annotation-driven />
    
    <!-- 声明缓存管理器 -->
    <!-- Spring 内置的几个缓存管理器 -->
    <!--<bean id="cacheManager" class="org.springframework.cache.concurrent.ConcurrentMapCacheManager" />-->

    <!-- 【*】启用 aspect 自动代理 -->
    <aop:aspectj-autoproxy />


    <!-- 【*】配置数据源-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" 	value="com.mysql.jdbc.Driver"/>
        <property name="url" 				value="jdbc:mysql:///test"/>
        <property name="username" 			value="root"/>
        <property name="password" 			value=""/>
    </bean>

    <!-- 【*】配置 JdbcTemplate 简化 jdbc 直接操作数据库的操作 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

</beans>