<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        ">

    <!-- 需要在 controller 中注入的properties属性必须在 springmvc-servlet.xml 中读入-->
    <!--  加入 ignore-unresolvable="true" ，避免 could not resolve placeholder 异常-->
    <!--<context:property-placeholder location="classpath:config.properties" ignore-unresolvable="true"/>-->

    <!--打开spring 包扫描功能，不可缺少-->
    <context:component-scan base-package="org.demo.auto.web.controller"/>

    <!-- 打开mvc注解  -->
    <mvc:annotation-driven/>

    <!-- 将静态文件指定到某个特殊的文件夹中统一处理  -->
    <!--  一个*表文件夹中内容，第二个星指子文件夹中的内容 -->
    <mvc:resources location="resource/" mapping="/resources/**" />
    <!-- don't handle the static resource -->
    <mvc:default-servlet-handler />

    <mvc:interceptors>
        <!-- 只针对部分请求拦截 -->
        <mvc:interceptor>
            <mvc:mapping path="/mvc/**" />
            <bean class="org.demo.auto.web.interceptor.MyInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 配置 JSP 视图解析器(ViewResolver) 一般JSP使用 InternalResourceViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!--配置文件上传 MultipartResolver  -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="5000000" />
        <property name="uploadTempDir" value="WEB-INF/upload/temp" />
        <property name="defaultEncoding" value="UTF-8" />
    </bean>

    <!-- @ResponseBody 返回 Json 数据需要引入三个包并添加此配置 -->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />-->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
            </list>
        </property>
    </bean>
</beans>